.products {
	text-align: center;
	background-color: #f7f7f7;
	padding: 40px;
}

.hero {
	padding: 0 100px;
}

.hero-container {
	/* width: fit-content; */
	margin: 60px auto;
}
.hero-container__text {
	vertical-align: middle;
	display: inline-block;
	max-width: 30vw;
}

.hero-container__img {
	vertical-align: middle;
	margin-left: 40%;
	height: 450px;
}

.hero-container__description {
	margin: 20px 0;
}

.product-container {
	display: flex;
	justify-content: space-evenly;
	margin: 60px 0;
}

.product-container__card {
	background-color: white;
	border-radius: 10px;
	min-width: 230px;
	box-shadow: 0 5px 9px 01px rgba(0, 0, 0, 0.25);
	padding: 40px;
	text-align: center;
}

.product-container__price {
	color: #5bacc3;
	font-weight: 400;
}

.discount {
	background-color: white;
	padding: 200px;
}

.discount__text {
	background-color: #393939;
	font-weight: 400;
	font-size: 45px;
	color: white;
	width: fit-content;
	margin: 0 auto;
	padding: 40px 60px;
}
