@use "./partials/global" as *;

.products {
	text-align: center;
	background-color: $light;
	padding: 40px;
}

.hero {
	padding: 0 100px;
}

.hero-container {
	/* width: fit-content; */
	margin: 60px auto;
}
.hero-container__text {
	vertical-align: middle;
	display: inline-block;
	max-width: 30vw;
}

.hero-container__img {
	vertical-align: middle;
	margin-left: 40%;
	height: 450px;
}

.hero-container__description {
	margin: 20px 0 40px;
}

.product-container {
	display: flex;
	justify-content: space-evenly;
	margin: 60px 0;
}

.product-container__img {
	margin: 20px 0 40px 0;
	width: 100%;
}

.product-container__card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	background-color: white;
	border-radius: 10px;
	max-width: 350px;
	box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.25);
	padding: 0;
	overflow: hidden;
}

.product-info {
	flex-grow: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $pink;
	padding: 40px 20px;
	/* height: 50%; */
}

.product-info__container {
	background-color: $pink;
	height: 100%;
	width: 100%;
}

.product-info__subtitle {
	color: $graphite;
}

.product-info__price {
	color: $blue;
	margin-left: 30px;
	font-weight: 700;
}

.product__view {
	margin: 0 auto;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.discount {
	background-color: white;
	padding: 200px;
}

.discount__text {
	background-color: $graphite;
	font-weight: 400;
	font-size: 45px;
	color: white;
	width: fit-content;
	margin: 0 auto;
	padding: 40px 60px;
	animation: discount__flash;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}

@keyframes discount__flash {
	0% {
		background-color: $graphite;
	}
	50% {
		background-color: $blue;
	}
	100% {
		background-color: $graphite;
	}
}

.different__container {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5%;
	padding-bottom: 0;
}

.different__img {
	min-width: 400px;
	max-width: 500px;
	aspect-ratio: 1;
	outline: $blue solid 5px;
	z-index: 0;
	position: relative;
}

.different__can {
	background-image: url("../assets/tiltedcan.png");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.different__can:hover {
	animation-name: different__img--rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes different__img--rotate {
	to {
		transform: rotate(360deg);
	}
}

.different__img::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("../assets/coldbrewbackground.png");
	background-size: contain;
	top: 20px;
	left: 20px;
	z-index: -1;
}

.different__child {
	max-width: 35%;
}

.different__icon {
	width: 50px;
}

.different__icons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.different__title {
	margin-bottom: 40px;
}

.different__text {
	margin-bottom: 20px;
}
