$graphite: #393939;
$blue: #5bacc3;
$gray: #909090;
$pink: #fff0ed;
$light: #f7f7f7;

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background-color: $pink;
	color: $graphite;
}

.nav {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 10px 0 20px;
}

.nav__links {
	margin: 0;
}
.nav__link {
	box-sizing: border-box;
	text-transform: uppercase;
	list-style-type: none;
	font-size: 21px;
	display: inline-block;
	text-align: center;
	margin: 0 20px;
}

.nav__link--highlight {
	color: $blue;
}

.nav__link--logo {
	font-size: 60px;
	font-weight: 300;
	text-transform: lowercase;
}

.nav__image {
	vertical-align: middle;
	min-width: 0px;
	max-width: 120px;
}

.footer {
	margin: 0;
}

.footer-container {
	margin: 0 auto;
	/* width: fit-content; */
	padding: 5% 0;
	display: flex;
	justify-content: space-around;
}

.footer__child {
	width: fit-content;
	display: inline-block;
	/* margin-right: 10em; */
}

.footer__title {
	margin-bottom: 20px;
}

// Apologies in advance to whomever is grading this. I really wanted to see if I could make the links animate with only one non-pseudo class. I did it, but at great cost.

.button {
	cursor: pointer;
	user-select: none;
	min-width: 180px;
	text-align: center;
	max-width: max-content;
	background-color: transparent;
	color: white;
	border: none;
	text-transform: uppercase;
	padding: 20px 40px;
	font-size: 21px;
	outline: $graphite solid 2px;
	position: relative;
	z-index: 0;
	display: block;
	box-sizing: border-box;
}

.button::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: $blue;
	top: 5px;
	left: 5px;
	z-index: -1;
}

.button:active {
	transform: translateX(5px) translateY(5px);
}

.button:active::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: $blue;
	top: 0;
	left: 0;
	z-index: -1;
}

a {
	color: inherit;
	text-decoration: inherit;
}

h1,
h2 {
	font-size: 60px;
	font-weight: 300;
}

h3 {
	font-size: 33px;
	font-weight: 300;
}

p {
	font-size: 18px;
	font-weight: 400;
}

h1,
h2,
h3,
p {
	margin: 0;
}

.bold {
	font-weight: 700;
}

.social-icons {
	width: 50px;
	vertical-align: bottom;
}
